.container {
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.welcomeContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.buttons {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.buttons a {
   margin: 10px;
   padding: 10px;
   border-radius: 4px;
   font-size: 15px;
   color: #fff;
   background-color: #729177;
   transition: all 0.2s ease-out;
}

.buttons a:hover {
   background-color: #546b58;
}